button{
    background-color:red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
padding: 10px;
color: white;

}
.poup-countiner{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    justify-content: center;
    align-items: center;
}
.poup-countiner.active{
    display: flex;
}
.poup{
    background-color: bisque;
    position: relative;
    border: 1px solid white ;
    border-radius: 6px;
    padding: 10px 30px;
    width: 400px;
    animation: scal .7s ease-in-out;
}
@keyframes scal {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.poup span{
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: white;
    position: absolute;
    right: 10px;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.poup h2{
margin: 0;
}